@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');


body,
button {
    font-family: 'Inter', sans-serif;
}

:root {
    --offcanvas-width: 270px;
    --topNavbarheight: 56px;
}

.sidebar-nav {
    width: var(--offcanvas-width) !important;
}


/* Offcanvas */

.offcanvas-divider{
    border: 1px solid white;
    opacity: 0.2;
}


.sidebar-link[aria-expanded="true"] .right-icon{
    transform: rotate(180deg);
    transition: all ease 0.25s;
}











@media (min-width: 992px) {

    .offcanvas-backdrop::before{
        display: none !important;
    }

    main{
        margin-left: var(--offcanvas-width);
    }
    .sidebar-nav {
        transform: none !important;
        visibility: visible !important;
        top: var(--topNavbarheight) !important;
        height: calc(100% - var(--topNavbarheight));
    }

}